@charset "utf-8";

/* JavaScriptObject Settings - CSS 2.1
==================================== */
@media screen, projection {
	.javascriptobject {
		cursor:url(cursor_openhand.cur), move;
		overflow:hidden;
		position:relative;
	}
	.javascriptobject a:link, .javascriptobject a:visited {
		background:transparent url(background_transparent.png) repeat;
		background-color:#fff;
		color:#ccc;
		display:block;
		filter:alpha(opacity=10);
		font-size:3.2em;
		font-weight:bold;
		opacity:0.1;
		text-decoration:none;
		width:100%;
	}
	.javascriptobject a:hover {
		background:transparent url(background_hover.png) repeat;
		background-color:#fff;
		color:#000;
		filter:alpha(opacity=60);
		opacity:0.6;
	}
	.javascriptobject img {
		border:none;
		display:none;
		position:absolute; 
		top:0px;
	}
	.javascriptobject p {
		margin:0 auto;
		text-align:center;
	}
	.javascriptobject .loading {
		border:1px solid #000;
		height:15px;
		left:50%;
		margin-left:-106px;
		padding:5px;
		position: relative;
		visibility:visible;
		width:200px;
	}
	.javascriptobject .loading_bar {
		background:#000;
		height:15px;
		visibility:visible;
		width:1%;
	}
}

/* iPhone and iPod Touch Style Settings
==================================== */
@media only screen and (max-device-width: 480px){
	.javascriptobject a:link {
		background-color:#fff;
		opacity:0.6;
		color:#000;
	}
}